#container{
 margin: 0 5%;   
}

.jumbotron{
text-align: center;
color:white;


}

h3{
    padding:5px 10px;
color:white;
background-color:skyblue;
}

.Info{
    margin:10px 0;
    border:3px solid skyblue;
}

.form-group{
    padding:10px;

}


